body {
	margin: 0;
	padding: 0;
	font-family: Roboto, -apple-system, Helvetica Neue, nimbus-sans, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.container {
	width: calc(100% - 30px);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.footer-link {
	color: #ad2a2a;
	cursor: pointer;
	font-size: calc(8px + 5 * ((100vw - 200px) / 1280));
	text-decoration: none;
}
.footer-link:hover {
	color: #ad2a2a;
	text-decoration: underline;
}
@media screen and (max-width: 576px) {
	.footer-link {
		font-size: 12px;
	}
}

.terms-link {
	color: #5e6363;
	cursor: pointer;
	text-decoration: none;
	font-size: calc(8px + 5 * ((100vw - 200px) / 1280));
}
.terms-link:hover {
	color: #1b1b1b;
	text-decoration: none;
}
@media screen and (max-width: 576px) {
	.terms-link {
		font-size: 12px;
	}
}

.paragraph {
	line-height: 105%;
	font: inherit;
	vertical-align: baseline;
	font-weight: 400;
}

.title {
	font-size: calc(28px + 26 * ((100vw - 200px) / 1280));
	font-weight: 600;
}

@media (max-width: 768px) {
	.main-content {
		padding-top: 30px !important;
	}
}

@media (min-width: 992px) {
	.title {
		font-size: 46px;
	}
}
@media (min-width: 1200px) {
	.title {
		font-size: 52px;
	}
}

.subtitle {
	font-size: calc(16px + 26 * ((80vw - 200px) / 1280));
	font-weight: 500;
	margin-bottom: 30px;
	font-weight: bold;
}
@media screen and (min-width: 901px) {
	.subtitle {
		font-size: 38px;
	}
}
@media screen and (max-width: 390px) {
	.subtitle {
		font-size: 20px;
	}
}

.footer-title {
	position: relative;
	text-indent: 0;
	height: inherit;
	line-height: inherit;
	font-size: calc(10px + 2 * ((100vw - 200px) / 1280));
	color: #252525;
	font-weight: bold;
	margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
	.footer-title {
		font-size: 12px;
	}
}

.info-block-title {
	font-size: calc(32px + 16 * ((100vw - 200px) / 1280));
	font-weight: 700;
	color: black;
}
@media screen and (max-width: 576px) {
	.info-block-title {
		font-size: 35px;
	}
}

.info-block-paragraph {
	font-size: calc(10px + 5 * ((100vw - 200px) / 1280));
}
@media screen and (max-width: 576px) {
	.info-block-paragraph {
		font-size: 12px;
	}
}

.info-block-location {
	display: flex;
	flex-direction: row;
	line-height: 1.5;
	font-size: calc(10px + 5 * ((100vw - 200px) / 1280));
	font-weight: 400;
	margin-bottom: 5px;
	color: #1b1b1b;
	overflow: show;
	white-space: nowrap;
}

.info-block-location > div {
	color: #ad2a2a;;
}

@media screen and (max-width: 576px) {
	.info-block-location {
		font-size: 10px;
	}
}

@-webkit-keyframes page-fade-in {
	0% {
		background-color: #121212;
	}
}
@keyframes page-fade-in {
	0% {
		background-color: #121212;
	}
}

.copyright {
	color: #666;
	font-size: 13px;
}
@media screen and (max-width: 576px) {
	.copyright {
		margin-top: 30px;
		font-size: 11px;
	}
}

.footer {
	border-top: 1px solid rgba(196, 200, 204, 0.5);
	margin-top: 20px;
	padding-top: 25px;
	width: 100%;
	-webkit-animation-name: page-fade-in;
	animation-name: page-fade-in;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index: -1;
}
@media (max-width: 576px) {
	.footer {
		text-align: center;
		padding-bottom: 40px;
	}
}
.footer .row {
	margin-bottom: 17px;
}
.footer .row div.col-sm {
	min-width: 135px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}

@-webkit-keyframes navigation-fade-in {
	0% {
		background-color: #121212;
	}
	100% {
		background-color: white;
	}
}
@keyframes navigation-fade-in {
	0% {
		background-color: #121212;
	}
	100% {
		background-color: white;
	}
}

@-webkit-keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navigation {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px dotted #212528;
	-webkit-animation-name: navigation-fade-in;
	animation-name: navigation-fade-in;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.logo-link {
	height: 80px;
}
@media (max-width: 991px) {
	.logo-link {
		height: 90px;
	}
}
.logo-link:hover {
	opacity: 0.9;
}

.logo {
	margin-bottom: 30px;
}

.info-blocks {
	padding-top: 40px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 16px;
	margin-right: 16px;
	display: flex;
	justify-content: space-between;
}

.info-block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.info-blocks .row,
.footer .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media (min-width: 314px) and (max-width: 470px) {
	.hubs-row {
		flex-direction: row-reverse;
	}
	.info-blocks .row div.info-block-hubs.hub-locations {
		padding-left: 0;
	}
	.mobile-padding-left {
		padding-left: 5px;
	}
}

.info-blocks .row > div,
.footer .row > div {
	/* flex: 1; */
	min-width: 127px;
	padding-left: 15px;
	padding-right: 15px;
}

.info-block-hubs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.info-block-hubs .info-block-hub {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-block-hubs .info-block-hub.hub-locations {
	align-items: flex-start;
	margin-left: 30px;
	margin-top: 6px;
}

@media (max-width: 494px) {
	.footer .row {
		flex-direction: column;
	}
}

@-webkit-keyframes body-fade-in {
	0% {
		background-color: #121212;
	}
	100% {
		background-color: white;
	}
}
@keyframes body-fade-in {
	0% {
		background-color: #121212;
	}
	100% {
		background-color: white;
	}
}

.react-reveal {
	animation-fill-mode: both;
	animation-duration: 1000ms;
	animation-delay: 500ms;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 1;
	animation-name: reveal;
}

.body {
	padding-top: 20px;
	background-color: #fff;
	color: #252525;
	-webkit-animation-name: body-fade-in;
	animation-name: body-fade-in;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.main-content {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow-x: hidden;
	padding-top: 35px;
	padding-bottom: 80px;
	overflow-x: hidden;
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 10px;
	background-color: transparent;
}
